<a href="https://colab.research.google.com/github/Ste881/expense_calculator/blob/main/expense_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
print("Choose the type of expense: ")
print("1. Food")
print("2. Medication")
print("3. Entertainment")
print("4. Groceries")
print("5. Travel")
print("6. Clothing")
print("7. Makeup")
print("8. Other:")

exp_type=int(input("Enter the type of expense: "))
exp_amount=float(input("Enter the amount: "))

Choose the type of expense:
1. Food
2. Medication
3. Entertainment
4. Groceries
5. Travel
6. Clothing
7. Makeup
8. Other:
Enter the type of expense: 4
Enter the amount: 3

In [44]:
expense=[0, 0, 0, 0, 0, 0, 0, 0]
print(f"expense array={expense}")

expense array=[0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
def exp_report(exp_type, exp_amount):
  if exp_type < 9:
    expense[exp_type-1]=expense[exp_type-1]+exp_amount
    print(f"expense array={expense}")
  else:
    print("not valid")